{% extends "material/base.html" %}
{% import "card_with_image.html" as cwi %}
{% import "material/utils.html" as utils %}
{% include 'header.html' %}
{% import "utils.html" as ut %}

{% block body %}

{% block scripts %}
<!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
{%- endblock scripts %}

{% include 'nav.html' %}


  <script type="text/javascript">
  $(document).ready(function(){
	$('.slider').slider({
        full_width: true,
        interval: 3000, // 轮播间隔
        transition: 1000, // 效果转换时长
        height: 900, // 轮播高度
        indicators: true // 是否显示小圆点
    });

      $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
  });


  </script>

	{% block content %}

	
	        {{ row() }}
				{{ col(['s12', 'm12','l12']) }}


	<div class="slider hide-on-small-only">
    <ul class="slides">
        {% for i in image %}
          {% if i %}
                   <li>
        <img src=" {{ i.url }} "> <!-- random image -->
        <div class="caption center-align"><a href="/posts/Readme" class="white-text">
            <h3>{{ i.name }}</h3>
            <h5 class="light grey-text text-lighten-3">{{ i.des }}</h5></a>
        </div>
                       <li>
        {% else %}
        <li>
        <img src=" {{ url_for('static', filename= 'images/blade-runner.jpg') }} "> <!-- random image -->
        <div class="caption center-align">
            <h3>First Page </h3>
            <h5 class="light grey-text text-lighten-3">Blade - Runner</h5>
        </div>
        </li>
        <li>
        <img src=" {{ url_for('static', filename= 'images/home.jpg') }} "> <!-- random image -->
        <div class="caption left-align">
            <h3>Second Switch</h3>
            <h5 class="light grey-text text-lighten-3">The End Of the Fucking World</h5>
        </div>
        </li>
        <li>
        <img src=" {{ url_for('static', filename= 'images/Batman.jpg') }} "> <!-- random image -->
        <div class="caption right-align">
            <h3>Three</h3>
            <h5 class="light grey-text text-lighten-3">Template</h5>
        </div>
        </li>
        <li>
        <img src=" {{ url_for('static', filename= 'images/blade-runner-2049.jpg' ) }} "> <!-- random image -->
        <div class="caption center-align">
            <h3>Four</h3>
            <h5 class="light grey-text text-lighten-3">Also Test</h5>
        </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

        {{ enddiv() }}

{{ enddiv() }}


  <div class="section">
	{{ container() }}
        {{ row() }}
				{{ col(['s12', 'm6','l4']) }}
                         <div class="white-text center"">
        <!-- Promo Content 1 goes here -->
          The Post, The Articles,The Documents
      </div>

                    <a href="/post" class="white-text text-darken-2 center"> <div class="card-panel  pink darken-2 hoverable z-depth-5 waves-effect waves-block waves-orange">
                         <span class="white-text text-darken-2">The Lastest Post</span>
                          </div></a>

                          {% for p in post %}
                           {% if p %}

                                {{ col(['s12', 'm12','l12']) }}
                                    {{ cwi.card_with_image(title =p.title,
									content = p.content,
									image = p.image,
									tags =p.tags,
									actions = [p.title]
									)}}
                                {{ enddiv() }}



                {% else %}
                                {{ col(['s12', 'm12','l12']) }}
                                {{ utils.card('Not Post','not post',[['/','index']]) }}
                                {{ enddiv }}
                {% endif %}
                {% endfor %}
				{{ enddiv() }}

                				{{ col(['s12', 'm6','l4']) }}

                               <div class="white-text center">
        <!-- Promo Content 1 goes here -->
          Music, Movies, TV Series & Game
      </div>

                    <a href="/reviews" class="white-text text-darken-2 center"> <div class="card-panel red darken-3 hoverable z-depth-5 waves-effect waves-block waves-orange">
                         <span class="white-text text-darken-2">The Lastest Reviews</span>
                          </div></a>

                          {% for p in reviews %}
                           {% if p %}

                                {{ col(['s12', 'm12','l12']) }}
                                    {{ ut.card_with_image_reviews_v2(title =p.title,
									content = p.content,
									image = p.image,
									tags =p.tags,
									actions = [p.title]
									)}}
                                {{ enddiv() }}



                {% else %}
                                {{ col(['s12', 'm12','l12']) }}
                                {{ utils.card('Not Post','not post',[['/','index']]) }}
                                {{ enddiv }}
                {% endif %}
                {% endfor %}
				{{ enddiv() }}

                                 				{{ col(['s12', 'm6','l4']) }}
                               <div class="white-text center"">
        <!-- Promo Content 1 goes here -->
          The Interesting News & Info
      </div>

                     <a href="/news" class="white-text text-darken-2 center">
                         <div class="card-panel light-green darken-1 hoverable z-depth-5 waves-effect waves-block waves-orange">
                         <span class="white-text text-darken-2">The Lastest News</span>

                          </div>
                         </a>

                          {% for p in todo %}
                           {% if p %}

                                {{ col(['s12', 'm12','l12']) }}
                                    {{ ut.card_with_image_news(title =p.title,
									content = p.text,
									image = p.image,
									tags =p.tags,
									actions = [p.title]
									)}}
                                {{ enddiv() }}



                {% else %}
                                {{ col(['s12', 'm12','l12']) }}
                                {{ utils.card('Not Post','not post',[['/','index']]) }}
                                {{ enddiv }}
                {% endif %}
                {% endfor %}
				{{ enddiv() }}
				
        {{ enddiv() }}

          
		

{{ enddiv() }}


{% endblock content %}

{% include 'footer.html' %}
{% endblock body %}