{% import "material/wtf.html" as wtf %}
 <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Logo</a>
      <a class='dropdown-button button-collapse' href='#' data-activates='dropdown1' data-beloworigin="true"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

        <li class=" white-text waves-effect waves-block waves-orange"><a href="/">Index</a></li>
          <li class=" white-text waves-effect waves-block waves-orange"><a href="/admin">Admin</a></li>
          <li class=" white-text waves-effect waves-block waves-orange"><a href="/pag">Post</a></li>
        <li class=" white-text waves-effect waves-block waves-orange"><a href="/reviews">Reviews</a></li>
          <li class=" white-text waves-effect waves-block waves-orange"><a href="/news">News</a></li>
      </ul>
       <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content left'>
      <li class=" white-text waves-effect waves-block waves-orange"><a href="/">Index</a></li>
        <li class=" white-text waves-effect waves-block waves-orange"><a href="/admin">Admin</a></li>
      <li class=" white-text waves-effect waves-block waves-orange"><a href="/pag">Post</a></li>
        <li class=" white-text waves-effect waves-block waves-orange"><a href="/reviews">Reviews</a></li>
      <li class=" white-text waves-effect waves-block waves-orange"><a href="/news">News</a></li>
  </ul>



    </div>
 </nav>
