{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}
{% import "material/pagination.html" as pag %}
{% import "card_with_image.html" as cwi %}
{% import "card_to_render_post.html" as ctrp %}
{% import "utils.html" as ut %}


{% include 'header.html' %}


{% block body %}

{% block scripts %}
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
{%- endblock scripts %}

{% include 'nav.html' %}

<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
	$('.slider').slider({
        full_width: true,
        interval: 2000, // 轮播间隔 
        transition: 1000, // 效果转换时长
        height: 800, // 轮播高度
        indicators: true // 是否显示小圆点
    });
  });
  
  $("modal_test").click(function(){ 
    $(".modal").modal('open'); 
	
}); 


</script>

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKWF77X"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->


{% block content %}

{{ container() }}
{{ row() }}





{{ enddiv() }}

{{ enddiv() }}


<div class="section">
    {{ container() }}
    <div class="center white-text"><span class="card-title"><h4><strong>Archive : Posts</strong></h4></span></div>
    {{ row() }}
    {% if post %}
    {% for p in post.items %}
    {{ col(['s12', 'm12','l6']) }}
    {{ cwi.card_with_image(title =p.title,
    content = p.content,
    image = p.image,
    tags =p.tags,
    actions = [p.title]
    )}}
    {{ enddiv() }}
    {% endfor %}
    {% else %}
    {{ col(['s12', 'm12','l12']) }}
    {{ utils.card('Not Post','not post',[['/','index']]) }}
    {{ enddiv }}
    {% endif %}
    {{ enddiv() }}


    {{ container() }}
    {{ row() }}

    {{ut.render_pagination(post,"blog.post_list") }}

    {{ enddiv() }}
    {{ enddiv() }}

    {{ enddiv() }}
    {{ enddiv() }}

    {% endblock %}
    {% include 'footer.html' %}
    {% endblock %}



