{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}
{% import "material/pagination.html" as pag %}
{% import "card_with_image.html" as cwi %}
{% import "card_to_render_post.html" as ctrp %}
{% import "utils.html" as ut %}


{% include 'header.html' %}


{% block body %}

{% block scripts %}
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


{%- endblock scripts %}

{% include 'nav.html' %}

<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
	$('.slider').slider({
        full_width: true,
        interval: 3000, // 轮播间隔
        transition: 2000, // 效果转换时长
        height: 800, // 轮播高度
        indicators: true // 是否显示小圆点
    });
     $('.collapsible').collapsible({ accordion: false});
     $('.scrollspy').scrollSpy({
     throttle:200,
     scrollOffset: 400
     });

           $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      //hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );

  });
  
  $("modal_test").click(function(){ 
    $(".modal").modal('open'); 
	
});




</script>

<script>
$(document).ready(function(){
(function(){
$("td.gsc-search-button").click(function(){

var bla = $('#gsc-i-id1').val();
//alert(bla);
dataLayer.push({
"search_word":bla
})
  });
})

  });

</script>

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKWF77X"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->


{% block content %}

<div class="section">

    {{ container() }}
    {{ row() }}
    <ul class="collapsible expandable z-depth-5 hoverable">
        <li class="active">
            <div class="collapsible-header truncate"><i class="material-icons">details</i>资源：Search Resources Online</div>
            <div class="collapsible-body white-text "><span>整合Google搜索资源下载的链接</span></div>
        </li>
        <li>
            <div class="collapsible-header truncate"><i class="material-icons">details</i> 使用：下方搜索框输入关键词回车</div>
            <div class="collapsible-body white-text"><span>
                                          <ul>
                                              <li><a class="grey-text text-lighten-3 " href="/">The Link Comes The Following Site</a></li>
                                              <li><a class="grey-text text-lighten-3 " href="/">zimumu.tv</a></li>
                </ul>
                      </span></div>
        </li>
        <li>
            <div class="collapsible-header truncate"><i class="material-icons">details</i>前提：能够正常使用Google服务</div>
            <div class="collapsible-body white-text ">
                <span>只有能够正常访问Google服务时，功能才能正常实现；如果不能正常访问Google，则搜索框不会在页面上出现</span></div>
        </li>
        <li>
            <div class="collapsible-header truncate"><i class="material-icons">details</i>提示：Search Tip</div>
            <div class="collapsible-body white-text "><span>如果没有相应结果，可能的原因有：
                    <ul>
                    <li>Google没有收录相应结果</li>
                    <li>搜索方式不对，换词或者换英文名搜索</li>
                    <li>这个资源暂时没有</li>
                      </ul></span>
            </div>
        </li>
    </ul>
    {{ row() }}
    {{ col(['s12', 'm12','l6','offset-l3']) }}
    <h5 class="flow-text white-text center">Search With KeyWords(ONLY FOR FUN)</h5>
    <div class="search_bar">

        {{ get_js() | safe }}


    </div>
</div>
</div>

</div>

{{ enddiv() }}
{{ enddiv() }}

{{ enddiv() }}


<div class="section">
    {{ container() }}
    <div class="center white-text"><span class="card-title"><h4><strong>Archive : Reviews</strong></h4></span></div>
    {{ row() }}

    {% if post %}
    {% for p in post.items %}
    {{ col(['s12', 'm6','l6','scrollspy']) }}
    {{ ut.card_with_image_reviews_v2(title =p.title,
    content = p.content,
    image = p.image,
    tags =p.tags,
    rate = p.rate,
    actions = [p.title]
    )}}
    {{ enddiv() }}
    {% endfor %}
    {% else %}
    {{ col(['s12', 'm12','l12']) }}
    {{ utils.card('Not Post','not post',[['/','index']]) }}
    {{ enddiv }}
    {% endif %}
    {{ enddiv() }}


    {{ container() }}
    {{ row() }}

    {{ut.render_pagination(post,"reviews.review_list") }}

    {{ enddiv() }}
    {{ enddiv() }}

    {{ enddiv() }}
    {{ enddiv() }}

    {% endblock %}
    {% include 'footer.html' %}
    {% endblock %}



