{% macro card_with_image(title, image, content,tags, actions = []) %}
                                    <h2 class="header flow-text"> {{ title }} </h2>
                                      <div class="card horizontal">
                                          <div class="card-image">
                                          {% if 'http' in image or 'https' in  image %}
                                            <img src={{ image }}>
                                          {% else %}
                                          <img src="{{ url_for('static', filename= image) }}">
                                          {% endif %}
                                          </div>
                                       <div class="card-stacked">
                                            <div class="card-content">
                                             {{ content|safe }}

                                            </div>
                                           <div class="row center-align">
                                                       {% for t in tags %}
                                                                 <div class="chip">

                                                                     <a href="/tag/{{ t }}">{{ t }}</a>

                                                                  </div>
                                                            {% endfor %}
                                             </div>
                                      {% if actions %}
                                      <div class="card-action">
                                      {% if actions %}
                                        {% for each in actions %}
                                          <a href="/posts/{{ each }}">View {{ each }}</a>
                                        {% endfor %}
                                      {% endif %}
                                      </div>
                                      {% endif %}
                                    </div>
                                    </div>

{% endmacro %}
