<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">LRENZ</h5>
                <p class="grey-text text-lighten-4">Anything Contact With ME Please</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/">Index</a></li>
                  <li><a class="grey-text text-lighten-3" href="/Reviews">Reviews</a></li>
                  <li><a class="grey-text text-lighten-3" href="/pag">Post</a></li>
                  <li><a class="grey-text text-lighten-3" href="/admin">admin</a></li>
                </ul>
              </div>
            </div>
          </div>

        </footer>
