<head>

  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="UTF-8">  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">  
    <!-- Add to homescreen for Chrome on Android -->  
  <meta name="mobile-web-app-capable" content="yes">  
  
    <!-- Add to homescreen for Safari on iOS -->  
   <meta name="apple-mobile-web-app-capable" content="yes">  
   <meta name="apple-mobile-web-app-status-bar-style" content="black">  
   <meta name="apple-mobile-web-app-title" content="Material Design Lite"> 
</head>
</head>