{% extends "material/base.html" %}
{% import "card_with_image.html" as cwi %}

{% include 'header.html' %}

{% block body %}

{% block scripts %}
<!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
{%- endblock scripts %}

{% include 'nav.html' %}

  <script type="text/javascript">
  $(document).ready(function(){
	$('.slider').slider({
        full_width: true,
        interval: 3000, // 轮播间隔
        transition: 2000, // 效果转换时长
        height: 900, // 轮播高度
        indicators: true // 是否显示小圆点
    });
  });


  </script>

	{% block content %}

	<div class="slider">
    <ul class="slides">
        <li>
        <img src=" {{ url_for('static', filename= 'images/blade-runner.jpg') }} "> <!-- random image -->
        <div class="caption center-align">
            <h3>First Page </h3>
            <h5 class="light grey-text text-lighten-3">Blade - Runner</h5>
        </div>
        </li>
        <li>
        <img src=" {{ url_for('static', filename= 'images/home.jpg') }} "> <!-- random image -->
        <div class="caption left-align">
            <h3>Second Switch</h3>
            <h5 class="light grey-text text-lighten-3">The End Of the Fucking World</h5>
        </div>
        </li>
        <li>
        <img src=" {{ url_for('static', filename= 'images/Batman.jpg') }} "> <!-- random image -->
        <div class="caption right-align">
            <h3>Three</h3>
            <h5 class="light grey-text text-lighten-3">Template</h5>
        </div>
        </li>
        <li>
        <img src=" {{ url_for('static', filename= 'images/blade-runner-2049.jpg' ) }} "> <!-- random image -->
        <div class="caption center-align">
            <h3>Four</h3>
            <h5 class="light grey-text text-lighten-3">Also Test</h5>
        </div>
        </li>
    </ul>
</div>




  <div class="section">
	{{ container() }}
        {{ row() }}
				{{ col(['s12', 'm6','l12']) }}
                	{{ cwi.card_with_image(
					'Evething About The Site',
					'images/coffee.jpg',
					" <h3>Four</h3><p>A “favicon” is an icon used by browsers for tabs and bookmarks. This helps to distinguish your website and to give it a unique brand.

A common question is how to add a favicon to a Flask application. First, of course, you need an icon. It should be 16 × 16 pixels and in the ICO file format. This is not a requirement but a de-facto standard supported by all relevant browsers. Put the icon in your static directory as favicon.ico.

Now, to get browsers to find your icon, the correct way is to add a link tag in your HTML. So, for example:</p>",
					[['http://google.com', 'ReadME']]
					) }}
				{{ enddiv() }}
        {{ enddiv() }}

{{ enddiv() }}

{% endblock content %}

{% include 'footer.html' %}
{% endblock body %}