{% extends "material/base.html" %}
{% import "card_with_image.html" as cwi %}
{% import "material/utils.html" as utils %}
{% include 'header.html' %}
{% include 'nav.html' %}
{% block body %}

{% block scripts %}
<!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
{%- endblock scripts %}




  <script type="text/javascript">
  $(document).ready(function(){
	$('.slider').slider({
        full_width: true,
        interval: 3000, // 轮播间隔
        transition: 2000, // 效果转换时长
        height: 900, // 轮播高度
        indicators: true // 是否显示小圆点
    });
  });


  </script>

	{% block content %}

	
	        {{ row() }}
				{{ col(['s12', 'm12','l12']) }}


	<div class="slider">
    <ul class="slides">
        <li>
        <img src=" {{ url_for('static', filename= 'images/blade-runner.jpg') }} "> <!-- random image -->
        <div class="caption center-align">
            <h3>First Page </h3>
            <h5 class="light grey-text text-lighten-3">Blade - Runner</h5>
        </div>
        </li>
        <li>
        <img src=" {{ url_for('static', filename= 'images/home.jpg') }} "> <!-- random image -->
        <div class="caption left-align">
            <h3>Second Switch</h3>
            <h5 class="light grey-text text-lighten-3">The End Of the Fucking World</h5>
        </div>
        </li>
        <li>
        <img src=" {{ url_for('static', filename= 'images/Batman.jpg') }} "> <!-- random image -->
        <div class="caption right-align">
            <h3>Three</h3>
            <h5 class="light grey-text text-lighten-3">Template</h5>
        </div>
        </li>
        <li>
        <img src=" {{ url_for('static', filename= 'images/blade-runner-2049.jpg' ) }} "> <!-- random image -->
        <div class="caption center-align">
            <h3>Four</h3>
            <h5 class="light grey-text text-lighten-3">Also Test</h5>
        </div>
        </li>
    </ul>
</div>

        {{ enddiv() }}

{{ enddiv() }}


  <div class="section">
	{{ container() }}
        {{ row() }}
				{{ col(['s12', 'm6','l12']) }}
                {% if p %}

                                {{ col(['s12', 'm12','l12']) }}
                                    {{ cwi.card_with_image(title =p.title,
									content = p.content,
									image = p.image,
									tags =p.tags,
									actions = [p.title]
									)}}
                                {{ enddiv() }}

                {% else %}
                                {{ col(['s12', 'm12','l12']) }}
                                {{ utils.card('Not Post','not post',[['/','index']]) }}
                                {{ enddiv }}
                {% endif %}
				{{ enddiv() }}
				
        {{ enddiv() }}
		
		 
		  <!-- Tap Target Structure -->
  <div class="tap-target" data-target="menu">
    <div class="tap-target-content">
      <h5>Title</h5>
      <p>A bunch of text</p>
    </div>
  </div>
          
		

{{ enddiv() }}


{% endblock content %}

{% include 'footer.html' %}
{% endblock body %}