{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}

{% block title %}Hello, world!{% endblock %}

{% block styles %}
{{super()}}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en" rel="stylesheet">  
{% endblock %}

{% block script %}
{{super()}}
   <script src = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js">
      </script>
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}


{% block meta %}
{{super()}}
    <meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">  
    <meta name="viewport" content="width=device-width, initial-scale=1">  
  
    <!-- Add to homescreen for Chrome on Android -->  
    <meta name="mobile-web-app-capable" content="yes">  
  
    <!-- Add to homescreen for Safari on iOS -->  
    <meta name="apple-mobile-web-app-capable" content="yes">  
    <meta name="apple-mobile-web-app-status-bar-style" content="black">  
    <meta name="apple-mobile-web-app-title" content="Material Design Lite"> 
{% endblock %}


{% block body %}

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">  
        <header class="mdl-layout__header">  
            <div class="mdl-layout__header-row">  
                <span class="mdl-layout-title">MDL 样例</span>  
            </div>  
        </header>  
        <div class="mdl-layout__drawer">  
            <span class="mdl-layout-title">MDL 教程</span>  
            <nav class="mdl-navigation">  
                <a class="mdl-navigation__link">概述</a>  
                <a class="mdl-navigation__link">布局</a>  
            </nav>  
        </div>  
    </div> 
	{% block content %}
{{ container() }}
        {{ row() }}
                {{ col(['s12', 'm6']) }}
                	{{ util.card('Hello world!', wtf.quick_form(form) )}}
					
                {{ enddiv() }}
                {{ col(['s12', 'm6'])}}

 
                {{ util.card('Isn\'t Flask great?', '<p>I really do enjoy it!</p>				 <i class="material-icons" style="font-size: 30pt; color: darkgoldenrod">add</i> 
				 <button class="mdl-button mdl-js-button mdl-js-ripple-effect">确定</button>  ', [['https://github.com/HellerCommaA', 'My Github']])}}
            	{{ enddiv() }}
        {{ enddiv() }}
{{ enddiv() }}


{% endblock %}

{% endblock %}

		 
