{% import "material/wtf.html" as wtf %}
   <nav>
    <div class="nav-wrapper">
	
      <a href="/" class="brand-logo center">LRENZ</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/pag"><i class="material-icons left">link</i>Post</a></li>
        <li><a href="/admin"><i class="material-icons left">link</i>Admin</a></li>
        <li class=""><a href="/"><i class="material-icons left">link</i>index</a></li>
          <li class=""><a href="/reviews"><i class="material-icons left">link</i>Reviews</a></li>
      </ul>

    </div>
	

  
  </nav>
