{% macro render_pagination(pagination,
                           endpoint=None,
                           prev=('&laquo;')|safe,
                           next=('&raquo;')|safe,
                           size=None,
                           ellipses='…',
                           args={}
                           )
-%}

<nav>
  <ul class="pagination{% if size %} pagination-{{size}}{% endif %}"{{kwargs|xmlattr}}>
  {# prev and next are only show if a symbol has been passed. #}
  {% if prev != None -%}
    <li{% if not pagination.has_prev %} class="disabled"{% endif %}><a href="{{url_for(endpoint, page=pagination.prev_num) if pagination.has_prev else '#'}}">{{prev}}</li></a>
  {%- endif -%}

  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <li><a href="{{url_for(endpoint, page=page)}}">{{page}}</a></li>
      {% else %}
        <li class="active"><a href="#">{{page}} <span class="sr-only">(current)</span></a></li>
      {% endif %}
    {% elif ellipses != None %}
      <li class="disabled"><a href="#">{{ellipses}}</a></li>
    {% endif %}
  {%- endfor %}

  {% if next != None -%}
    <li{% if not pagination.has_next %} class="disabled"{% endif %}><a href="{{url_for(endpoint, page=pagination.next_num) if pagination.has_next else '#'}}">{{next}}</li></a>
  {%- endif -%}
  </ul>
</nav>


{% endmacro %}


{% macro card_with_image_reviews(title, image, content,tags = None,rate = None, actions = []) %}
             <div class="card z-depth-3 hoverable">
			    <div class="card-image">

                        {% if image %}

                            {% if 'http' in image or 'https' in  image %}
                                <img src={{ image  }}>
								<span class="card-title"><strong>{{ title }} </strong></span>
                            {% else %}
                                <img src="{{ url_for('static', filename= image) }}">
								<span class="card-title">{{ title }}</span>
                            {% endif %}
                </div>

                        {% else %}

                                 <div class="card-image">
                                    <img src="{{ url_for('static', filename= 'coffee.jpg') }}">
									<span class="card-title"><h3> <strong>{{ title }}</strong></h3></span>
                                        </div>

                        {% endif %}



                            <div class="card-content ">
                                {{ content | get_slug | oembed(html=True, maxwidth=300, maxheight=400)}}


                            </div>
                                    {% if rate %}
                                    <div class="container">
                                          <span><strong>STAR:</strong> </span>
                                         <i class="material-icons Medium">filter_{{ rate | get_rate }} </i>
                                        </div>
                                     {% endif %}

                            <div class="container">
                                 <ul class="list-unstyled list-inline center-align">
                                      {% for tag in tags %}
                                            <div class="chip">
                                                {% if tag.name %}
                                               <a href="/review_tag/{{ tag.id }}"><i class="material-icons left">bookmark</i>{{ tag.name }}</a>
                                                </div>
                                                {% else  %}
                                                 <a href="/review_tag/{{ tag.id }}"><i class="material-icons left">Tag Have Been Deleted</a>
                                                {% endif %}

                             {% endfor %}
			                 </div>


                </div>


                                              <div class="row">

                                      {% if actions %}
                                      <div class="card-action center-align">
                                      {% if actions %}
                                        {% for each in actions %}
										<a class="waves-effect waves-light orange darken-1 btn z-depth-5" href="/reviews/{{ each }}"><i class="material-icons left">explore</i>View : {{ each }}</a>

                                        {% endfor %}
                                      {% endif %}
                                      </div>
                                      {% endif %}
                                    </div>



{% endmacro %}
