{% extends "material/base.html" %}
{% include 'header.html' %}
{% import "material/utils.html" as utils %}
{% import "utils.html" as ut %}
{% block body %}
{% block scripts %}
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>
{%- endblock scripts %}

{% include 'nav.html' %}

<script type="text/javascript">

  $(document).ready(function(){
	//$('img').materialbox();
	//$("img").addClass("materialboxed");


	 $('.modal').modal(
	 {
      startingTop: '50%', // Starting top style attribute
      endingTop: '10%', // Ending top style attribute
    }
	 );

	 $('.chips-placeholder').material_chip({
    placeholder: 'Enter a tag',
    secondaryPlaceholder: '+Tag',
  });
  });



</script>

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKWF77X"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->


<div class="section white-text">
    {{ container() }}
    {{ row() }}

    <h4>File Manager</h4>
    <a href="{{ url_for('upload.upload_file') }}" class="waves-effect waves-light btn">Upload</a> /
    <a href="{{ url_for('upload.manage_file') }}" class="waves-effect waves-light btn">Manage</a>
    <hr>
    {{ utils.flashed_messages(default_category = 'info') }}

    {% for photo in pic.items %}
    {{ col(['s12', 'm12','l4']) }}
    <div class="card" style="">
        <div class="card-image" style="position: relative;">
            <img src="{{ photo.file_url }}" data-caption={{ photo.file_name }} style="max-height:400px;">
        </div>


        <div class="card-content black-text truncate"><h5>{{ photo.file_name }}</h5>
        </div>
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab black-text"><a href="#{{ photo.id }}1" class="active">Tab 1</a></li>
                <li class="tab black-text"><a href="#{{ photo.id }}2">Tab 2</a></li>
                <li class="tab black-text"><a href="#{{ photo.id }}3">Tab 3</a></li>
            </ul>
        </div>
        <div class="card-content grey lighten-4 black-text" style="overflow: auto;height:120px">
            <div id="{{ photo.id }}1"><span>{{ photo.file_name }}</span>
            </div>
            <div id="{{ photo.id }}2">{{ photo.file_url }}


                 <!-- 1. Define some markup -->


    <!-- 2. Include library -->

    <!-- 3. Instantiate clipboard -->
    <script>
    var clipboard = new ClipboardJS('.btn{{ photo.id }}', {
        text: function() {
            return '{{ photo.file_url }}';
        }
    });
    clipboard.on('success', function(e) {
        //console.log(e);
         Materialize.toast('The Url Has Been Copied', 8000,'rounded');
    });
    clipboard.on('error', function(e) {
        //console.log(e);
        Materialize.toast('Something Wrong When Copied', 8000,'rounded');
    });
    </script>

            </div>
            <div id="{{ photo.id }}3">Test 3</div>
        </div>


        <div class="card-action center">
            {% if current_user.is_authenticated %}
            <div class="row">
            <a href="{{ url_for('upload.delete_file', filename=photo.file_name ) }}"
               class="waves-effect waves-light btn">del</a>

            <a class="waves-effect waves-light btn modal-trigger" href="#{{ photo.id }}" id='{{ photo.id }}id'
               onclick="get_chipdata_{{ photo.id }}a()">Edit</a>
                </div>
            {% endif %}

               <div class="row">
            <a class="waves-effect waves-light btn " href="{{ photo.file_url }}"
               >View</a>

            <a class="btn{{ photo.id }} waves-effect waves-light btn">Copy</a>
                   </div>
        </div>
        <!-- Modal Structure -->


        <div id="{{ photo.id }}" class="modal modal-fixed-footer">
            <div class="modal-content black-text flow-text">
                <p>{{ photo.file_url }} </p>
                <p>A bunch of text</p>


                <div class="chips chips-placeholder chips-initial" id='{{ photo.id }}a'></div>


                <script type="text/javascript">
                                                function get_chip_{{ photo.id }}a(){
                                                try{
                                                var da = $( "#{{ photo.id }}a").material_chip('data');
                                                //alert(da[0].tag);
                                                //return da
                                                $.ajax({
                                                            url: '/update/tag/{{ photo.id }}',
                                                            type: 'POST',
                                                            dataType: 'json',
                                                            contentType: 'application/json; charset=utf-8',
                                                            data: JSON.stringify(da),
                                                            success: function(response){
                                                             var json = JSON.stringify(response['tag'])



                                                            //$("#{{ photo.id }}a").material_chip({
                                                                  //data: json
                                                                  //});




                                                                  console.log(json);
                                                                  //location.reload();

                                                                Materialize.toast("You Have Changed Tag", 8000,'rounded');
                                                            },
                                                            error: function() {
                                                                            $(this).html("error!");
                                                                        }
                                                        });
                                                }
                                                catch(err) {
                                                }
                                                }


                </script>

                <script type="text/javascript">

                                                /*function test{



                                                //$.ajax({
                                                            //url: '/get/tag/{{ photo.id }}',
                                                            //type: 'GET',
                                                            //dataType: 'json',
                                                            //contentType: 'application/json; charset=utf-8',

                                                            //success: function(response){

                                                                //var obj = JSON.stringify(response['data'])
                                                                //alert(obj)
                                                                //var data = obj
                                                                     //$("#{{ photo.id }}a").material_chip({
                                                                  //data: obj.toString()
                                                                  //});
                                                                  //Materialize.toast("fetch the tag", 8000,'rounded');
                                                            //},
                                                           // error: function() {
                                                                            //alert("error!");
                                                                        //}
                                                        //});
                                                }*/


                </script>


                <script type="text/javascript">
                                                function get_chipdata_{{ photo.id }}a(){
                                                try{

                                                                   dataLayer.push({ 'pic_name' : '{{ photo.file_name }}'});
                                                                  $("#{{ photo.id }}a").material_chip({
                                                                  {% if photo.tag %}
                                                                  data: [
                                                                  {% for tag in photo.tag %}
                                                                    {
                                                                      tag: "{{ tag }}",
                                                                    },
                                                                    {% endfor %}
                                                                    ]
                                                                    {% else %}
                                                                    data:
                                                                    [
                                                                    {
                                                                      tag: 'No Tags',
                                                                    }, {
                                                                      tag: '{{ photo.file_name }} ',
                                                                    }
                                                                    ],
                                                                    {% endif %}
                                                                  });
                                                }
                                                catch(err) {
                                                }
                                                }

                </script>


            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat" onclick="get_chip_{{ photo.id }}a()">Submit</a>
            </div>
        </div>


    </div>
</div>
{% endfor %}

</div>
{{ut.render_pagination(pic,"upload.manage_file") }}
</div>
</div>


{% include 'footer.html' %}
{% endblock body %}