

body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
	background-image: url('images/bg_1024.jpg');
	display: flex;
    min-height: 100vh;
    flex-direction: column;
	
}

  main {
    flex: 1 0 auto;
  }

@media (max-width: 512px)  and (-webkit-min-device-pixel-ratio: 1.5),
       (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (-webkit-max-device-pixel-ratio: 1.5),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('images/bl_1024.jpg');
	background-size:cover;
	    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }
}
@media (min-width: 513px)  and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 1025px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  body::before {
    background-image: url('images/bl_2048.jpg');
	background-size:cover;
	    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }
}
@media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('images/bl_2880.jpg');
	background-size:cover;
		    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }
}


img{  max-width: 100%; 
           display:block; 
		   margin:auto;
             height: auto;}


 //.card-image{
    //max-height:100%; // Also this should be 100%.
     //height:300px; // corresponds to box height
    //img{height:300px;} // corresponds to image height
   // }


  //.card img {
   // max-height: 200px;
    //object-fit: cover;
//}
//.card img.materialized.active {
    //max-height: none;
    //object-fit: none;
//}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}




    left: 0px !important;
}